/*reset css*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*my styles*/
@import url(http://fonts.googleapis.com/css?family=Capriola);
html {
    font-size: 10px;
    font-family: Capriola, Helvetica, sans-serif;
}
body {
    width: 98%;
    margin: 0 auto;
}
#gallery {
    height: 100%;
    width: 100%;
}
.homeSlide {
    height: 100%;
    width: 100%;
}

/*scroller to the top of the page*/
#scrollerToTop {
    width: 40px;
    height: 40px;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 10px;
    right: 20px;
    background: url("../images/uparrow.png") 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 999999;
    display: none;
}



/* Mobile navigation */

.site-nav-toggle {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    background-color: #1e1e1e;
    width: 100%;
    visibility: hidden;
    padding: 5px;
}

.site-nav-toggle svg {
    vertical-align: middle;
}

#navigation-mobile {
    display: none;
    position: fixed;
    top: 15px;
    left: 0px;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 3.5em;
}

#navigation-mobile ul {
    list-style: none;
    border-top: 1px solid #ffffff;
    padding: 0;
}
#navigation-mobile ul a {
    text-decoration: none;
    color: #1e1e1e;
}

#navigation-mobile li {
    background: #79ba11;
    padding: 2%;
    height: 1.5em;
    line-height: 2em;
    border-bottom: 1px solid #1e1e1e;
    font-size: 2em;
    letter-spacing: 2px;
}

#navigation-mobile li:active {
    background: #9389d0;
}

#navigation-mobile li:hover {
    background: #222222;
    background: -moz-linear-gradient(top, #555555 0%, #222222 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #222222));
    background: -webkit-linear-gradient(top, #555555 0%, #222222 100%);
    background: -o-linear-gradient(top, #555555 0%, #222222 100%);
    background: -ms-linear-gradient(top, #555555 0%, #222222 100%);
    background: linear-gradient(to bottom, #555555 0%, #222222 100%);
}
#navigation-mobile li a:hover{
    color: #79ba11;
}
#navigation-mobile li :active{
    color: #79ba11;
}




/*main content for home page */

#content-wrapper {
    /*border: 2px solid;*/
    width: 95%;
    margin: 3em 1em 0 1em;
    font-size: 1.5em;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
}

aside {
    padding: 1em;
    max-width: 250px;
    border: 1px solid #b8b8b8;
    border-radius: 1em;
    background-color: #eeeeee;
}
article > h2 {
    font-weight: bold;
    color: #79ba11;
    height: auto;
}
aside > h1 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    color: #79ba11;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}

aside p {
    margin-bottom: 2.5em;
    line-height: 1.3em;
}

section.main {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 60%;
    justify-content: space-around;
    padding: 1em;
    border: 1px solid;
}
section.main div {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}
section.main div img {
    width: 100%;
    height: 100%;
}


/*responsive*/
@media only screen and (max-width: 1920px){

    .team-wrapper {
        zoom: 1.2;
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        margin-top: 5em;
    }
}


@media only screen and (max-width: 1700px){

    /*header*/
    #cssmenu {
        width: 83%;
    }
    .team-wrapper {
        zoom: 1.1;
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        margin-top: 3em;
    }
}
@media only screen and (max-width: 1200px){

    .team-wrapper {
        zoom: 1;
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        margin-top: 0;
    }
    #content-wrapper {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1024px){
    aside {
        max-width: 100%;
        margin-top: 1em;
    }

    /*header*/
    .entry-footer {
        width: 100%;
        margin-right: 3em;
    }
    #cssmenu {
        width: 65%;
    }

    /*footer*/
    .links {
        margin-left: 1em;
    }

    #content-wrapper {
         margin-bottom: 0;
    }

    /*team page*/
    .person-container {
        justify-content: center;
    }

}

@media only screen and (max-width: 768px){

    /*hide header navigation*/
    #cssmenu {
        visibility: hidden;
    }
    section.main{
        width: 95%;
    }
    .site-nav-toggle {
        visibility: visible;
    }
    .inner {
        visibility: hidden;
        height: 15px;
    }

    .team-wrapper {
        zoom: 0.9;
        -moz-transform: scale(0.9);
        -webkit-transform: scale(0.9);
    }

    #content-wrapper {
        /*border: 1px solid;*/
        margin-top: 10px;
        margin-right: 5em;
        width: 91%;
    }

    #down-arrow {
        width: 25px;
        height: 25px;
        padding: 10px;
        text-align: center;
        position: fixed;
        bottom: 10px;
        right: 47%;
        z-index: 999999;
    }
    #team-info img {
        display: none;
    }
    /*footer*/
    .footer {
        padding: 10px 10px 0 10px;
    }
    #navigation-mobile{
        visibility: visible;
    }
}

@media only screen and (max-width: 640px){

    /*person info container in the team page*/
    .person-info {
        flex-flow: column;
        justify-content: center;
        margin-bottom: 1em;
    }
    .person-pic {
        margin-bottom: 1em;
    }

    /*footer*/
    .footer {
        flex-flow: column;
        font-size: 1.8em;
        line-height: 2em;
    }
}

@media only screen and (max-width: 550px){
    /*section.links:nth-of-type(4) {*/
        /*margin-left: 21%;*/
    /*}*/
}

@media only screen and (max-width: 480px){
    #content-wrapper {
        width: 90%;
        margin-right: 5em;
        padding: 0;
    }
    .team-wrapper {
        zoom: 0.8;
        -moz-transform: scale(0.8);
        -webkit-transform: scale(0.8);
    }
    section.main {
        padding: 0;
    }
    .intro {
        margin-top:3em;
    }
}


@media only screen and (max-width: 320px){

    #content-wrapper {
        width: 88%;
    }
}

